body{
    background-color: #f0f2f5de;
    padding-bottom: 50px;
    overflow-x: hidden;
}
form{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border-radius: 8px ;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.192);
    padding: 18px 22px 18px 22px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    display: block;
    position: relative;
    top: 150px;
}

input[type="text"],
input[type="password"] {
        border-color:  rgba(0, 0, 0, 0.281);
        border-radius: 6px;
        width: 340px;
        font-size: medium;
        padding: 16px 14px 16px 30px;
        margin: 10px;
        outline: none;
}

input[type="text"],
input[type="password"] :hover{
    border-color:#0866ff ;
    border: solid 1px #0866ff;
    box-shadow:0px 0px 4px 0px #618fda;
    outline: none;
}

button{
    width: 350px;
    position:relative;
    background-color: #0866ff ;
    display: inline;
    border: none;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    top: 30px;
    left: 29px;
    color: white;
    font-size: 20px;
}
button:hover{
    background-color:#1877f2 ;
}
h2{
    text-align: center;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.699);
    font-size: 25px;
}
img{
    display: inline-block;
    position: relative;
    left: 43%;
    bottom: -120px;
    height: 35px;
}

.router{
    display: inline-block;
    position: relative;
    
}

.hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    height: 80px;
    
    

}
.hover li{
    list-style: none;
    outline: none;
    margin:  0 auto;
    background-color: #f0f2f5;
    
}
.hover li a{
    text-decoration: none;
    left: 625px;
    top: 200px;
    text-align: center;
    color: black ;
    white-space: nowrap;
    text-overflow: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 8px;
    
}

.hover li a:hover{
    text-decoration: solid;
    text-decoration-line:underline;
}
.footer{
    top: 300px;
    left: 30px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}